.h1{
	font-size: 34px;
	line-height: 1.4;
	letter-spacing: 2px;
	font-family: serif;
	font-weight: bolder;
}
.h2{
	font-size: 24px;
	font-weight: 400;
}
.h3{
	font-size: 18px;
	font-weight: 400;
}
.font-s{
	font-size: 14px;
}