.p-banner{
	height: 345px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// width: 1000px;
	// margin-bottom: 64px;
	&--bg{
		background-image: url('../../assets/img/banner.png');
		background-size: 100% auto;
		background-size: cover;
		background-position: center right;
		background-repeat: no-repeat;
	}
	&__link{
		// padding-top: 36px;
		// padding-bottom: 36px;
		// padding-left: 22px;
		text-decoration: none;
		&--bgc{
			background-color: rgba(0,0,0,0.15);
		}
	}
}