.course{
	padding: 0px 20px;
	margin-bottom: 64px;
	&__item{
		width: 298px;
		padding-bottom: 24px;
		& img{
			width: 100%;
		}
		&__title{
			margin-bottom: 5px;
		}
		&__string{
			padding-left: 20px;
			padding-right: 20px;
			text-align: justify;
			text-justify: inter-character;
		}
	}
}