.c-btn{
	display: inline-block;
	// padding: 6px 22px;
	font-size: 15px;
	font-weight: bolder;
	&:hover{
		background-color: $noticeColor;
	}
	&:active{
		background-color: $blackColor;
	}

	&--primary{
		color: $whiteColor;
		background-color: $primaryColor;
	}
	
}
.c-btn:not(:disabled):not(.disabled){
	cursor: pointer;
}