// .form{
// 	background-color: gray;
// 	// padding-top: 38px;
// 	// padding-bottom: 28px;
// 	&__title{
// 		// margin-bottom: 28px;
// 	}
// 	&__row__col{
// 		width: 50%;
// 		// padding-left: 20px;
// 		// padding-right: 20px;
// 	}
// }
// .formGroup{
// 	margin-bottom: 15px;
// }
.textarea-resizeNone{
	resize : none;
}