.c-table{
	// margin-bottom: 62px;
	width: 100%;
	&__thand{
		text-align-last: left;
		background-color: $lightGrayColor;
	}
	&__thead__tr, &__tbody__tr{
		border-top: 1px solid $gainsBoroColor;
		border-bottom: 1px solid $gainsBoroColor;
	}
	&__thead__tr__th, &__tbody__tr__td{
		// padding: 8px 25px;
	}
}