
.u-border{
  /* 結構 */
  border: 1px solid;
  &--left{
    border-left-width: 1px;
    border-left-style: solid;
  }
  &--right{
    border-right-: 1px;
    border-right-style: solid;
  }
  &--top{
    border-top-width: 1px;
    border-top-style: solid;
  }
  &--bottom{
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  /* /結構 */
  
  /* 樣式 */
  &--primary{
    border-color: $primaryColor;
  }
  &--black{
    border-color: $blackColor;
  }
  &--gray{
    border-color: $grayColor;
  }
  &--gainsBoro{
    border-color: $gainsBoroColor;
  }
  &--lightGray{
    border-color: $lightGrayColor;
  }
  &--white{
    border-color: $whiteColor;
  }
  /* /樣式 */
}
