
/* text-colors
-------------------------------------------------- */
.u-textC{
	&--primaryDark{
		color: $primaryDarkColor;
	}
	&--white{
		color: $whiteColor;
	}
}
/* End of text-colors
-------------------------------------------------- */

/* Subsection-color
-------------------------------------------------- */
.u-bg{
	&--black{
		background-color: $blackColor;
	}
	&--gray{
		background-color: $grayColor;
	}
	&--gainsBoro{
		background-color: $gainsBoroColor;
	}
	&--lightGray{
		background-color: $lightGrayColor;
	}
	&--white{
		background-color: $whiteColor;
	}
	&--primaryToDark{
		background: linear-gradient(0deg, $primaryGrayColor 0%, $primaryDimgrayColor 75%);
	}
}
/* End of Subsection-color
-------------------------------------------------- */