/*----------  flex  ----------*/
.u-d--flex{
	display: flex;
}
/*----------  /flex  ----------*/


/*----------  flex-direction  ----------*/
.u-flexDirection{
  &--row{
    flex-direction: row;  
  }
  &--column {
    flex-direction: column;
  }
  &--rowReverse {
    flex-direction: row-reverse;
  }
  &--columnReverse {
    flex-direction: column-reverse;
  }
}
/*----------  flex-direction  ----------*/


/*----------  justify-content  ----------*/
.u-justifyContent{
  &--flexStart {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--flexEnd {
    justify-content: flex-end;
  }
  &--spaceAround {
    justify-content: space-around;
  }
  &--spaceBetween {
    justify-content: space-between;
  }
  &--spaceEvenly {
    justify-content: space-evenly;
  }
}
/*----------  /justify-content  ----------*/


/*----------  align-items  ----------*/
.u-alignItems{
  &--flexStart{
    align-items: flex-start;
  }
  &--flexEnd{
    align-items: flex-end;
  }
  &--center{
    align-items: center;
  }
}
/*----------  /align-items  ----------*/


/*----------  flexWrap  ----------*/
.u-flexWrap{
  &--nowrap {
    flex-wrap: nowrap;
  }
  &--wrap {
    flex-wrap: wrap;
  }
}
/*----------  /flexWrap  ----------*/
