.btn{
	display: inline-block;
	padding: 6px 22px;
	font-size: 15px;
	font-weight: bolder;
	&-primary{
		color: #ffffff;
		background-color: #00cc99;
	}
	&:hover{
		background-color: #e12d80;
	}
	&:active{
		background-color: #333;
	}
}
.btn:not(:disabled):not(.disabled){
	cursor: pointer;
}